.partner_section {
  padding: 50px 0 50px 0;
  overflow-y: hidden;
}
.partner_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 65px;
  color: #222227;
  padding-left: 15px;
}

.partner_slid_div {
  padding: 20px 0;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media only screen and (max-width: 429px) {
  .partner_title{
    line-height: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .partner_title {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
  }
}
