.hero_section {
  padding: 170px 0 85px 0;
  background-image: url("../../../assets/home/home-hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* z-index: 100 !important; */
}

.home_hero_row {
  margin: 0 !important;
}
.home_hero_col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 !important;
}
.home_hero_col > img {
  width: 100%;
  height: 100%;
}
.home_hero_col > h2 {
  margin-top: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #272525;
}

.home_hero_col > p {
  margin-top: 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.065em;
  color: #272525;
}

.hero_btn {
  margin-top: 20px;
  background: #1fab8a;
  box-shadow: 0px 6px 25px rgba(121, 129, 173, 0.45);
  border-radius: 90px;
  padding: 15px 60px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 105.5%;
  color: #eef1f6;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}
.hero_btn:hover {
  transform: scale(0.9);
}

@media only screen and (max-width: 1300px) {
  .home_hero_row {
    padding: 0 20px !important;
  }
}

@media only screen and (max-width: 991px) {
  .hero_section {
    padding-top: 185px;
    /* text-align: center; */
  }
  .home_hero_col > img {
    width: 100%;
    height: 406px;
  }
}
@media only screen and (max-width: 954px) {
  .hero_section {
    padding: 200px 0 100px 0;
    /* text-align: center; */
  }
  .home_hero_col > img {
    width: 100%;
    height: 306px;
  }
  .home_hero_col > h2 {
    font-size: 30px;
    line-height: 120%;
  }
  .home_hero_col > p {
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .home_hero_col > img {
    width: 100%;
    height: 290px;
  }
.home_hero_col{
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   flex-direction: column !important;
}
}

@media only screen and (max-width: 767px) {
  .hero_section {
    padding-top: 250px;
    text-align: center;
  }
  .home_hero_col > img {
    width: 100%;
    height: 505px;
  }
}

@media only screen and (max-width: 568px) {
  .home_hero_col > img {
    display: none;
  }
  .home_hero_col > p{
    text-align: justify;
  }
}

@media only screen and (max-width: 359px) {
  .home_hero_col > h2 {
    font-size: 26px;
    line-height: 120%;
  }
}
