.ant-collapse-header-text {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 130% !important;
  color: #272525 !important;
}
.ant-collapse-header {
  padding: 15px 15px !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  cursor: pointer !important;
  background-color: transparent !important;
}

.ant-collapse {
  border: none !important;
  margin-bottom: 20px !important;
}

.variant{
  margin: 0;
}

@media only screen and (max-width: 1096px) {
  .ant-collapse-header-text {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 478px) {
  .ant-collapse-header-text {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 391px) {
  .ant-collapse-header-text {
    font-size: 15px !important;
    max-width: 200px;
  }
}


