.common_input {
  width: 100%;
  border: none;
  border-radius: 0 !important;
  outline: none !important;
  border-bottom: 3px solid #272525 !important;
  background-color: transparent !important;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #454747;
  padding: 10px 20px;
}
.common_input::placeholder {
  font-family: "Rubik";
}

.common_input:focus {
  border: 3px solid #1fab8a !important;
  border-radius: 15px !important;
}

